.help-container {
	margin: 0 auto;
	width: 50%;
}
.help-wrapper {
	min-width: 300px;
	width: auto;
}
.updater-wrapper {
	display: inline-block;
	font-size: 14px;
	text-align: left;
	background-color: #fff;
	height: 40px;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	margin-bottom: 10px;
}

.updater-wrapper > .updater-icon {
	background: #5cb85c;
	width: 33px;
	float: left;
	color: #fff!important;
	height: 100%;
	text-align: center;
}

.updater-wrapper > .updater-icon > .glyphicon{
	position:relative;
	top: calc(50% - 9px) !important;
}

.updater-wrapper > .updater-text {
	line-height: 19px;
	padding-top: 5px;
	padding-left: 45px;
	padding-right: 5px;
}
